<ion-header no-border>
  <ion-toolbar>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="3" >x</ion-col>
        <ion-col size="9">
            <ion-title  >tu carrito</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>


<ion-content class="ion-text-center">

     <label size="12"><h2>Mandala</h2></label>
     <label size="12"><p color="medium">Entrega a la puerta</p></label>
     <img src="../../../assets/img-purchase/carrito-unit.png" alt="">

</ion-content>
<ion-footer>
  <ion-toolbar>
    
      <ion-button color="success"  expand="full" (click)="presentAlert()" >Confirmar pedido:Con entrega   CLP4,1600.00</ion-button>
  </ion-toolbar>
</ion-footer>