<ion-header translucent>

  <ion-toolbar>
    <ion-title color="success">Crea tu Perfil Verde</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-card class="med-card">
    <ion-card-header>
      <ion-card-subtitle>Eligue restourant con reciclaje</ion-card-subtitle>
      <ion-card-title>Disminuir la Huella de carbono con Uber Eats </ion-card-title>
      <ion-img src="../../../assets/img-purchase/carouselVerde.png"></ion-img>
    </ion-card-header>
    <ion-card-content>
 
        <ion-button routerLink="/ppal-pages" color="success" expand="block">
          Ahora No
        </ion-button>

        <ion-button routerLink="/edit-profile" color="success"  expand="full">
          Crear Perfil <ion-img src="../../../assets/img-purchase/etiqueta-verde.png"></ion-img>
        </ion-button>

    </ion-card-content>


  </ion-card>

</ion-content>