
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="ppal-pages">
        <ion-icon name="md-home"></ion-icon>
        <!-- <ion-label>Schedule</ion-label>-->
        <!--<ion-badge>6</ion-badge>-->
      </ion-tab-button>

      <ion-tab-button tab="">

        <ion-icon name="md-search"></ion-icon>
        <!-- <ion-label>Speakers</ion-label>-->
      </ion-tab-button>

      <ion-tab-button tab="">
        <!--   <ion-icon name="book"></ion-icon>-->
        <!--  <ion-icon name="clipboard"></ion-icon> -->

        <ion-icon name="md-bookmarks"></ion-icon>

        <!--  <ion-label>Map</ion-label>-->
      </ion-tab-button>

      <ion-tab-button tab="profile-summary" >
        <ion-icon name="md-person"></ion-icon>
        <!-- <ion-label>About</ion-label>-->
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
