<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
        
        <h1>11:05</h1>
        <!-- <ion-icon slots="end" name="more"></ion-icon> -->
<p>Hora de entrega estimada</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
 
    
    <ion-img src="./assets/img/porcentaje.png"></ion-img>
    
    <h2 padding>¡Gracias por disminuir tu huella de CO2!</h2>
    
   
    
    
    </ion-content>
</ion-content>

<ion-footer>
  <ion-item href="#">
  <ion-label>Detalles de entrega</ion-label>
</ion-item>
</ion-footer>
