<ion-header>
  <ion-toolbar>
    <!-- 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">

      </ion-back-button>

    </ion-buttons> -->
    <ion-avatar class="avatar" slot="start">
      <img src="./assets/img/laughing-young-man-260nw-125885153.webp">
    </ion-avatar>
    <ion-title class="names">Cristian Hernandez</ion-title>
    <ion-item routerLink="/account" detail>
      <ion-label class="see" color="success">Ver perfil</ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- List of Text Items -->
  <ion-list>
    <ion-item class="item-size">
      <ion-icon name="heart" slot="start"></ion-icon>
      <ion-label>Tus favoritos</ion-label>
    </ion-item>
    <ion-item class="item-size">
      <ion-icon name="card" slot="start"></ion-icon>
      <ion-label>Pago</ion-label>
    </ion-item>
    <ion-item class="item-size">
      <ion-icon name="help-buoy" slot="start"></ion-icon>
      <ion-label>Ayuda</ion-label>
    </ion-item>
    <ion-item class="item-size">
      <ion-icon name="pricetag" slot="start"></ion-icon>
      <ion-label>Promociones</ion-label>
    </ion-item>
    <ion-item class="item-size">
      <ion-icon name="basket" slot="start"></ion-icon>
      <ion-label>Haz entregas con la app de Uber</ion-label>
    </ion-item>


    <ion-item class="burger-img">
      <ion-img src="./assets/img/Imagen-ios-burger.jpg"></ion-img>
    </ion-item>

    <ion-item class="item-size">
      <ion-label>Quiénes somos</ion-label>
    </ion-item>
  </ion-list>

  <!-- List of Sliding Items -->
</ion-content>

<ion-footer>
  <ion-toolbar>
   <app-menu></app-menu>
  </ion-toolbar>
</ion-footer>
