<ion-header>
  <ion-img src="../../../assets/img-purchase/restaurant-img.png"></ion-img>
</ion-header>

<ion-content>

  <ion-item-group>

    <ion-item>
      <ion-label>Mandala -Super Alimentos</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Saludable·$</ion-label>
    </ion-item>


    <ion-item>
      <ion-label>Saludable·$ <span>4.6 </span></ion-label>
      <ion-icon name="star"></ion-icon> (500+)<ion-img src="../../../assets/img-purchase/etiqueta-verde.png"></ion-img>
    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label>Información del restaurante</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Av. Francisco Bilbao 930, Providen...</ion-label>
      </ion-item>

      <ion-item>
        <ion-label slot="start">Menú <ion-icon slot="icon-only" name="ios-arrow-dropdown"></ion-icon>
        </ion-label>
      </ion-item>

    </ion-list>
  </ion-item-group>


  <ion-list>
    <ion-list-header>Nutritivo - Fresco - Rápido</ion-list-header>

    <ion-item   >
          <ion-img    routerLink='/puchase-detail' src="../../../assets/img-purchase/Menú-bowl-Simple.png" class="menu-restaurant-des"></ion-img>
    </ion-item>

    <ion-item>
      <ion-img  routerLink='/puchase-detail'  src="../../../assets/img-purchase/Menú-bowl-Simple.png" class="menu-restaurant-des"></ion-img>
    </ion-item>

    <ion-item>
      <ion-img  routerLink='/puchase-detail' src="../../../assets/img-purchase/Menú-bowl-Simple.png" class="menu-restaurant-des"></ion-img>
    </ion-item>

    <ion-item>
      <ion-img  routerLink='/puchase-detail' src="../../../assets/img-purchase/Menú-bowl-Simple.png" class="menu-restaurant-des"></ion-img>
    </ion-item>

    <ion-item>
      <ion-img  routerLink='/puchase-detail' src="../../../assets/img-purchase/Menú-bowl-Simple.png" class="menu-restaurant-des"></ion-img>
    </ion-item>

    <ion-item>
      <ion-img  routerLink='/puchase-detail' src="../../../assets/img-purchase/Menú-bowl-Simple.png" class="menu-restaurant-des"></ion-img>
    </ion-item>

    <ion-item>
      <ion-img  routerLink='/puchase-detail' src="../../../assets/img-purchase/Menú-bowl-Simple.png" class="menu-restaurant-des"></ion-img>
    </ion-item>
  </ion-list>

</ion-content>