.names{
    margin-top: 1em;
}
.see{
    margin-left: 3px;
}

.item-size{
    height: 5em;
}

.burger-img{
    height: 5em;
}
.avatar{
    margin-left: 2em;
}

.description-text{
    padding: 1em;
}

